/*.nav-link:hover{
    background: #3C484D;
    color:#283033;
    border-radius: 10px;
   }*/

/* NAVBAR */

#Menu {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #1f1f1f;
}

#Menu ul li a {
  color: #1f1f1f;
}

.navbar-brand {
  font-family: "Work Sans", sans-serif;
  font-weight: lighter;
  color: #1f1f1f;
  opacity: 0.85;
}

.header {
  padding: 10px;
  text-align: center;
  color: #1f1f1f;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  font-weight: black;
  font-style: bolder;
  margin-bottom: 40px;
}

/* FOOTER */

.footer {
  flex: 0 0 50px;
  background-color: #f7f7f7;
}

.footer .social {
  text-align: center;
  padding-top: 5px 0;
}

.footer .social i {
  font-size: 30px;
  display: inline-block;
  text-align: center;
  margin: 10px; /* space between icons */
  opacity: 0.85;
}

.footer h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #1f1f1f;
 }

.fa-vimeo {
  color: #f53e1a;
}

.fa-linkedin {
  color: #f53e1a;
}

.fa-github-square {
  color: #f53e1a;
}

.fa-pinterest {
  color: #f53e1a;
}

/* PROJECTS */

/**
 * Make images responsive
 */
 .flex .col img {
	width: 100%;
	height: auto;
}

/**
 * Make .flex children same
 * height using display flex.
 * Justify property prepares
 * cols for being centered.
 */
.flex {
	display: flex;
	justify-content: center;
	width: 960px;
	max-width: 100%;
	margin: auto;
}

/**
 * Make cols flexible to
 * auto push button at the
 * col bottom.
 */
.flex .col {
	display: flex;
	flex-direction: column;
	flex: 1 1 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	/* 
	In the order, equal to
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 300px;
	*/
	margin: 1em;
}

/**
 * Margin-top auto pushes
 * button to bottom.
 * Align self makes button
 * stuck to the left.
 */


/**
 * Under 900px wrap cols
 */
@media (max-width: 900px) {
	.flex {
		flex-wrap: wrap;
	}
}

h3 {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #1f1f1f;
}

p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #1f1f1f;
}

.btn {
  
  transition: all 0.5s;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 16px;
  opacity: 85%;
  background-color: #ffc229;
  padding: 1rem 0.3rem;
  margin-bottom: 10px;
  margin-top: 10px;
  
 } 
